/*font*/
body {
    font-family: 'Mulish', sans-serif;
}

h1 {
    color: aliceblue;
    font-family: 'Permanent Marker';
}

h2, h3 {
    font-family: 'Permanent Marker';
}

.text-center{
    text-align: center;
}

.p-justify{
    text-align: justify;
}

/*nav*/
.nav-item {
    margin: 0 0 0 12px;
}

.p-description{
    color: gray;
    text-align: justify
}

.mt-3punto5 {
    margin: 3.5% 0 0 0;
}

/*botton nav*/
a {
    border-style:solid ;
    border-width: 0 0 2px 0;
    border-color: transparent;
}

a:hover {
    border-style:solid ;
    border-width: 0 0 2px 0;
    border-color: #b22222;
}

/*img sudinoi*/
.img-center{
    margin: 35% 0 0 0;
}

/*menu pizze*/
.menu-pizze li {
    list-style-type: none;
}

/*footer*/
.footer-bg-font{
    background-color: #b22222;
    font-size: medium;
    font-family: 'Permanent Marker';
    color: antiquewhite;
    text-align: center;
}
